<div class="max-w-[1300px] mx-auto px-8">
  <h1 class="text-[#002045] text-2xl font-extrabold mb-7">Categories</h1>
  <!-- Categories Items -->
  <div class="bg-[#FFFFFF] grid grid-cols-8 gap-0">
    @for (item of [1,2,4,5,6,7,8,9,10,11,12,13,14,15,16,17]; track item){
    <div class="bg-neutral-primary-soft  max-w-[139px] p-6 border border-default flex-col gap-2 rounded-base shadow-xs">
        <img class="rounded-base mb-4" src="/images/monitors.png" alt="Category Image" />
    <p class="text-center">Monitors</p>
</div>
    }
  </div>
</div>
