<footer class="bg-[#F1F4F6] hidden md:block">
  <!-- footer container -->
  <div class="w-full mx-full max-w-[1300px] flex py-16 my-0 mx-auto px-4 md:px-8 justify-between ">
    <!-- left section -->
    <div class="max-w-[400px] flex flex-col gap-6">
      <h3 class="text-[#002045] font-semibold text-xl font-inter">SajiloShop</h3>
      <p class="text-[#43474E] font-medium text-sm font-inter">
        Elevating the everyday through a curated selection of minimalist essentials and artisanal
        craftsmanship.
      </p>
      <p class="text-[#43474E] font-medium text-sm font-inter">
        &copy;2024 SajiloShop. Crafted with Serenity.
      </p>
    </div>
    <!-- Shop section -->
    <div class="flex flex-col gap-6">
      <h3 class="text-[#002045] font-semibold text-xs">Shop</h3>
      <ul class="flex flex-col gap-4">
        <li><a class="text-[#43474E] font-medium text-sm font-inter" href="#">New Arrivals</a></li>
        <li><a class="text-[#43474E] font-medium text-sm font-inter" href="#">Best Sellers</a></li>
        <li><a class="text-[#43474E] font-medium text-sm font-inter" href="#">Home Decor</a></li>
      </ul>
    </div>

    <!-- Support Section -->
    <div class="flex flex-col gap-6">
      <h3 class="text-[#002045] font-semibold text-xs">Support</h3>
      <ul class="flex flex-col gap-4">
        <li><a class="text-[#43474E] font-medium text-sm font-inter" href="#">Shipping</a></li>
        <li><a class="text-[#43474E] font-medium text-sm font-inter" href="#">Returns</a></li>
        <li><a class="text-[#43474E] font-medium text-sm font-inter" href="#">FAQ</a></li>
      </ul>
    </div>

    <div class="flex flex-col gap-6">
      <h3 class="text-[#002045] font-semibold text-xs font-inter">Contact</h3>
      <ul class="flex gap-4">
        <li>
          <a href="#">
            <img src="/images/instagram.png" alt="Instagram Icon" class="w-10 h-auto" />
          </a>
        </li>
        <li>
          <a href="#"> <img src="/images/tiktok.png" alt="TikTok Icon" class="w-10 h-auto" /> </a>
        </li>
        <li>
          <a href="#"> <img src="/images/youtube.png" alt="YouTube Icon" class="w-10 h-auto" /> </a>
        </li>
      </ul>
      <p class="text-[#43474E] font-medium text-sm font-inter">Surkhet, Nepal</p>
    </div>
  </div>
</footer>
