<div class="max-w-[200px] p-4 bg-[#F7FAFC] border-[#C4C6CF] border border-solid">
    <!-- Product Image -->
  <div>
    <img src="/images/bottle.webp" alt="bottle Image" />
  </div>
  <!-- product detail -->
  <div class="text-center">
    <h3 class="text-[#002045] text-sm font-semibold">Amazfit GTS 4 MINI Metal Magnetic Watch Strap</h3>
    <p class="text-[#13696A] font-semibold text-lg">Rs 2,999 <span class="font-normal text-[#43474E] text-xs">Rs400</span> <span class="bg-[#FFDAD6] text-[#93000A] font-semibold text-[10px] py-[2px] px-2">-32</span></p>
  </div>
</div>
