<article class="bg-[#F7FAFC] border-[#C4C6CF] border border-opacity-20 rounded border-solid">
  <figure class="flex w-full p-2 h-60 rounded-md md:justify-center">
    <img [src]="image()" class="h-full object-fill" [alt]="name()" />
  </figure>
  <div class="px-4 py-2">
    <h3 class="text-[#002045] text-xs font-semibold font-inter">{{ name() }}</h3>
    @if (subtitle()) {
      <p class="text-[#43474E] text-xs font-inter">{{ subtitle() }}</p>
    }
    <p class="text-[#13696A] font-semibold text-lg font-inter">
      {{ price() }}
      @if (discount()) {
        <span class="font-normal text-[#43474E] text-xs font-inter">{{ discount() }}</span>
      }
    </p>
  </div>
</article>
