<header #header class="bg-[#F8FAFC] sticky top-0 left-0 w-full transition-transform duration-300 shadow-md z-20 mb-4">
  <!-- Container -->
  <div class="w-full max-w-[1300px] flex flex-col py-4 mx-auto px-4 md:px-8">
    <!-- Top Header -->
    <div class="flex justify-between">
      <!-- Left Section: Logo + Navigation -->
       <span class="material-symbols-outlined lg:hidden"> menu </span>
      <div class="flex items-center gap-24">
        <!-- Logo -->
        <figure>
          <img src="/images/logo-sajilo.png" alt="Sajilo Shop Logo" class="h-10" />
        </figure>
        <!-- Navigation -->
        <nav aria-label="Main Navigation" class="hidden lg:block">
          <ul class="flex gap-8 text-[#64748B] text-sm">
            <li><a routerLink="/home " class="font-inter">Home</a></li>
            <li><a routerLink="/vendor" class="font-inter">Become a Seller</a></li>
            <li><a routerLink="/aboutus" class="font-inter">About Us</a></li>
            <li><a routerLink="/contactus" class="font-inter">Contact Us</a></li>
          </ul>
        </nav>
      </div>

      <!-- Right Section: Search + Icons -->
      <div class="flex items-center gap-4">
        <!-- Search Form: Desktop only -->
        <app-search-box class="max-w-md w-full hidden lg:block" />

        <!-- Icon Section -->
        <div class="flex items-center gap-4" aria-label="User Actions">
          <button aria-label="Shopping Bag">
            <span class="material-symbols-outlined">shopping_bag</span>
          </button>

          <button aria-label="User Account">
            <span class="material-symbols-outlined">person</span>
          </button>
        </div>
      </div>
    </div>
    <!-- Bottom Header: Mobile/Tablet only -->
    <app-search-box class="w-full lg:hidden" />
  </div>
</header>
